[*.cs]

dotnet_diagnostic.CA5371.severity = none

dotnet_diagnostic.SA0001.severity = none
dotnet_diagnostic.SA1600.severity = none
dotnet_diagnostic.SA1601.severity = none
dotnet_diagnostic.SA1602.severity = none
dotnet_diagnostic.SA1633.severity = none

dotnet_diagnostic.MSTEST0034.severity = none

dotnet_analyzer_diagnostic.category-Style.severity = warning
dotnet_diagnostic.IDE0008.severity = none
dotnet_diagnostic.IDE0065.severity = none